<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIQUIDACIONES</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/test.css" />
    <script
      src="https://kit.fontawesome.com/f79a87f18d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav id="navbar">
      <div class="logo-container">
        <img src="img/logoRecurso 1.svg" alt="" />
      </div>
      <div class="navBotones">
        <a href="/buscador">BUSCADOR DE ODT</a>
        <a href="/">SALIR</a>
      </div>
    </nav>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ODT</th>
            <th>CLIENTE</th>
            <th>CLASIFICACION</th>
            <th>ESTADO PLANTA</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(item => { %>
          <tr>
            <form action="/liqRefresh" method="post">
              <td><%= item.ODT %></td>
              <td><%= item.CLIENTE %></td>
              <td><%= item["CLASIFICACION DEL EQUIPO"] %></td>
              <td><%= item["ESTADO PLANTA"] %></td>
              <td>
                <input type="text" name="ODT" value="<%= item.ODT %>" hidden />
                <button type="submit">
                  <i class="fa-solid fa-check"></i>
                </button>
              </td>
            </form>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
